* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}
/* COSAS DEL HEADERRRRRRRRRRRRRR */
/* COSAS DEL HEADERRRRRRRRRRRRRR */
#headera{
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 40px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  width: 100%;
  padding: 0px 10px;
  margin: 0;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 999;
}

.nav-logo img {
  width: 30px;
  margin-top: 5px;
  
}

.titulo-header{
  font-size: clamp(4px, 3vw, 25px);
  margin-left: clamp(50px, 8vw, 150px);
}
/* AQUI HAY UN TITULO PERO SE VE MAS BONITO SIN EL JIJI N08/12/25 */
.titulo-header a {  
  color: rgb(255, 255, 255);
  font-family: 'Anton', sans-serif;
  
  text-decoration: none;
  text-wrap: nowrap;
  transition: color 0.5s ease;
}

.titulo-header a:hover {
  color: rgb(1, 215, 1);
}

.header {
  height: 40px;
  display: flex;
  list-style: none;
  gap: clamp(0px, 2vw, 30px);
  width: 100%;
  padding: 0;
  margin: 0;
}

.header li{
  padding: 0;
  margin: 0;
}

.insta img {
  width: clamp(25px, 3vw, 35px);
  margin-top: 2px;
}
.insta img:hover {
  transform: scale(1.5);
}

.linked img {
  width: clamp(12px, 3vw, 24px);
  margin-top: 8px;
}
.linked img:hover {
  transform: scale(1.5);
}

.station img {
  width: clamp(14px, 3vw, 26px);
  margin-top: 10px;
}
.station img:hover {
  transform: scale(1.5);
}


#headera.hide {
  transform: translateY(-100%); /* se mueve hacia arriba y se oculta */
}

@media (max-width:800px){
 .insta img{
  margin-top: 10px;
 }
 .linked img{
  margin-top: 14px;
 }
 .station img{
  margin-top: 17px;
 }
}

/* COSAS DEL SIDEBAAAAAAAAAAAAAAAAAAAAR */

.sidebar img {
  width: 25px;
  margin-top: 12px;
  margin-left: 10px;
}
.sidebar img:hover{
    filter: brightness(0.3) sepia(1) hue-rotate(180deg) saturate(5);
}
.sidebar-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100vh;
  background: #000000a1;
  transition: right .4s ease;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  z-index: 998;
}

.sidebar-menu.open {
  right: 0;
} 

.sidebar-menu ul{
  list-style: none;
  padding-top: 90px;
  margin-top: 50px;
  margin-left: 25px;
  
}
.sidebar-menu li{
  margin-bottom: 30px;
}

.sidebar-menu a{
  text-decoration: none;
  color:aliceblue;
}

/* COSAS DE LA PAGINA EN GENERAL */
main {
  position: relative;
  z-index: 1;
}

.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-image: url("fondotres.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  will-change: transform;
}

/* CCCCSSSSSS DELLL INICIIOOO */
#inicio{
  height: 100vh;
  /* background: rgb(212, 212, 212); */
}

#inicio{
  display: flex;
  justify-content: center;
  align-items: center;
}



#inicio .parallax-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 0;
} 

#inicio h1{
  -webkit-text-stroke: 0.1px black;
    text-shadow: 
        0 0 4px rgba(0,255,180,0.4),
        0 2px 6px rgba(0,0,0,0.7);
  letter-spacing: clamp(0.5px, 1vw, 3px);
  font-family: 'Anton', sans-serif;
  font-size: clamp(28px, 6vw, 80px);
  align-items: center;
  color: rgb(236, 235, 235);
  background-color: #000000a5;
  width: 70vw;
  border-radius: 26px;
}
.bloque1{
  justify-items: center;
}
#inicio h2{
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  font-family: 'Anton', sans-serif;
  font-size: clamp(16px, 3vw, 40px);
  color: rgb(236, 235, 235);
  background-color: #000000a5;
  width: 45vw;
  border-radius: 26px;
}

/* #inicio h3 a{
  -webkit-text-stroke: 0.1px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: aliceblue;
  color: rgb(236, 235, 235);
} */

.bloque1{
  text-align: center;
  gap: 100px;
}



#contactos{
  height: 100vh;
  /* background: rgb(96, 96, 96); */
}
footer{
  padding-bottom: 50px;
  text-align: center;
  font-family: "Federo", sans-serif;
  font-size: 13px;
  background-color: rgb(0, 0, 0); 
  position: relative;
  z-index: 2;
  color: white;
}


.futer{
  height: 6vh;
  display:inline-flex;
  list-style: none;
  gap: 0px;
  padding: 0;
  margin: 0;
}

.finsta img {
  width: 40px;
  margin-top: 10px;
}
.finsta img:hover {
  transform: scale(1.5);
}

.flinked img {
  width: 24px;
  margin-top: 17px;
  margin-right: 10px;
}
.flinked img:hover {
  transform: scale(1.5);
}

.fstation img {
  width: 28px;
  margin-top: 18px;
  margin-right: 10px;
}
.fstation img:hover {
  transform: scale(1.5);
}

.logos{
  margin-top: 20px;
  margin-right: 20px;
}

.logos:hover{
  transform: scale(1.5);
  margin-left: 20px;
  margin-right: 30px;
}


/* 
COSAS DEL FADEEEE
*/

.fade{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}
.fade.show {
  opacity: 1;
  transform: translateY(0);
}

.fate{
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 2s ease, transform 2s ease;
}
.fate.show {
  opacity: 1;
  transform: translateY(0);
}
