#skills{
  padding: 30px 30px;
  background-color: rgba(255, 255, 255, 0);
  max-width: 1450px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  scroll-margin-top: 10vh;
}
#skills >h1{
  font-size: 50px;
  background-color: #000000a5;
  border-radius: 25px;
  width: 1000px;
  text-align: center;
  color: white;
  font-family: "Vidaloka", serif;
}
#skills .row{
  background-color: rgba(220, 25, 25, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
@media (max-width: 1200px){
  #skills .row{
    flex-wrap: wrap;
  }
}
/*  */
 .row .columnauno{ 
  background-color: rgb(239, 255, 224);
  width: 430px;
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
  border-radius: 30px;
  gap: 30px;
}

.row h1{
  font-family: "Vidaloka", serif;
  font-size: 25px;
  text-align: center;
}
.columnauno .columnaunob{
  background-color: #60fd87;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  width: 85%;
  gap: 10px;
  font-family: "Lato", sans-serif;
}

.columnauno .columnaunoc{
  background-color: #60fd87;
  display: flex;
  flex-direction: column;
  align-items:start;
  margin-left: 30px;
  width: 85%;
  padding: 30px 0;
  gap: 30px;
  font-family: "Lato", sans-serif;
}

.columnaunob .card{
  width: 20%;
  aspect-ratio: 4/4;
  /* background-image: url("Images/Csharp_Logo.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.columnaunob .b{
  font-size: 15px;
  text-wrap: nowrap;
  width: 70%;
  background-color: rgb(240, 248, 255);
}

.columnaunoc .b{
  font-size: 15px;
  text-wrap: nowrap;
  width: 90%;
  background-color: aliceblue;
}
